<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: aliceblue" href="{{ url_for('main.index') }}">ContentTracker</a>
      <div class="navbar-nav">

        <a class="nav-link" style="color: aliceblue" href="{{ url_for('main.index') }}">Main</a>
        {% if current_user.is_authenticated %}
          <a class="nav-link" style="color: aliceblue"  href="{{ url_for('main.profile') }}">Profile</a>
        {% endif %}

        {% if not current_user.is_authenticated %}
          <a class="nav-link" style="color: aliceblue" href="{{ url_for('auth.login') }}">Login</a>
          <a class="nav-link" style="color: aliceblue" href="{{ url_for('auth.signup') }}">Register</a>
        {% endif %}

        {% if current_user.is_authenticated %}
          <a class="nav-link" style="color: aliceblue" href="{{ url_for('auth.logout') }}">Log Out</a>
        {% endif %}
    </div>
  </div>
</nav>

{% block content %}
{% endblock %}

</body>
</html>