{% extends 'base.html' %}

{% block content %}
<h3 class="m-2">Changing status for {{ name }}</h3>
<form action="{{ url_for('main.change_status', title_id=id)}}" method="post" class="m-2 col-3">
    <div class="form-group">
        <label style="font-size: x-large" for="list">Select a list</label>
        <select id="list" class="form-select" name="list">
          <option value="planned">Planned</option>
          <option value="in_progress">In progress</option>
          <option value="completed">Completed</option>
        </select>
    </div>

    <div class="form-group">
        <label style="font-size: x-large" for="rating">Your rating</label>
        <select id="rating" class="form-select" name="rating">
          <option value="">Rate later</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>
{% endblock %}