{% extends 'base.html' %}

{% block content %}
{% for cat, message in get_flashed_messages(True) %}
<div class="alert alert-warning" role="alert">
    {{ message }}
</div>
{% endfor %}

<form class="m-2" action="{{ url_for('main.index')}}" method="post">
    <div class="mb-3">
        <label for="search" class="form-label">Search for a title</label>
        <input type="search" id="search" name="search_query" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<h2 class="content-list text-center">Anime list</h2>
<ul id="anime-list" class="list-group list-group-horizontal m-2">
{% for title in anime_list.items %}
      <li class="list-group-item list-group-item-action">
          <a href=" {{ url_for('main.title', title_id=title.id) }} ">
              {% if title.picture %}
                <img src="../static/{{ title.picture }}" alt="#" width="150" height="150">
              {% endif %}
              {{ title.name }}</a>
      </li>
{% endfor %}
</ul>

<h2 class="content-list text-center">Manga list</h2>
<ul id="manga-list" class="list-group list-group-horizontal m-2">
{% for title in manga_list.items %}
      <li class="list-group-item list-group-item-action">
          <a href=" {{ url_for('main.title', title_id=title.id) }} ">
              {% if title.picture %}
                <img src="../static/{{ title.picture }}" alt="#" width="150" height="150">
              {% endif %}
              {{ title.name }}</a>
      </li>
{% endfor %}
</ul>

<h2 class="content-list text-center">Films list</h2>
<ul id="films-list" class="list-group list-group-horizontal m-2">
{% for title in film_list.items %}
      <li class="list-group-item list-group-item-action">
          <a href=" {{ url_for('main.title', title_id=title.id) }} ">
              {% if title.picture %}
                <img src="../static/{{ title.picture }}" alt="#" width="150" height="150">
              {% endif %}
              {{ title.name }}</a>
      </li>
{% endfor %}
</ul>

<h2 class="content-list text-center">Books list</h2>
<ul id="book-list" class="list-group list-group-horizontal m-2">
{% for title in book_list.items %}
      <li class="list-group-item list-group-item-action">
          <a href=" {{ url_for('main.title', title_id=title.id) }} ">
              {% if title.picture %}
                <img src="../static/{{ title.picture }}" alt="#" width="150" height="150">
              {% endif %}
              {{ title.name }}</a>
      </li>
{% endfor %}
</ul>

{% if anime_list.has_prev %}
     <a href="{{ url_for('main.index', page = anime_list.prev_num) }}"><< Prev page</a>
{% elif manga_list.has_prev %}
    <a href="{{ url_for('main.index', page = manga_list.prev_num) }}"><< Prev page</a>
{% elif film_list.has_prev %}
    <a href="{{ url_for('main.index', page = film_list.prev_num) }}"><< Prev page</a>
{% elif book_list.has_prev %}
    <a href="{{ url_for('main.index', page = book_list.prev_num) }}"><< Prev page</a>
{% else %}
<< Prev page
{% endif %}

{% if anime_list.has_next %}
     <a href="{{ url_for('main.index', page = anime_list.next_num) }}">>> Next page</a>
{% elif manga_list.has_next %}
    <a href="{{ url_for('main.index', page = manga_list.next_num) }}">>> Next page</a>
{% elif film_list.has_next %}
    <a href="{{ url_for('main.index', page = film_list.next_num) }}">>> Next page</a>
{% elif book_list.has_next %}
    <a href="{{ url_for('main.index', page = book_list.next_num) }}">>> Next page</a>
{% else %}
>> Next page
{% endif %}

{% endblock %}