{% extends 'base.html' %}

{% block header %}
<h1>Login page</h1>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
        {{ messages[0] }}
{% endif %}
{% endwith %}


<form action="{{ url_for('auth.login', email='{{ email }}') }}" method="post" class="m-2 col-3">
    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" class="form-control" type="email" name="email" placeholder="Enter email" value= '{{ email }}'>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" class="form-control" type="password" name="password" placeholder="Enter password">
    </div>
    <div class="form-check">
        <input id="checkbox" type="checkbox" class="form-check-input" name="remember">
        <label class="form-check-label" for="checkbox">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary mt-1">Login</button>
</form>

{% endblock %}