{% extends 'base.html' %}

{% block content %}
<h1 class="title m-2">
  Welcome, {{ name }}!
</h1>

{% if user.picture %}
    <img src="static\{{user.picture}}" alt="#" width="192" height="200" class="m-2">
{% endif %}

<p>
    <a style="font-size: x-large" href="{{ url_for('main.profile_settings') }}" class="m-2">Profile settings</a>
</p>

<div class="row">
<h2 class="content-list text-center col">Anime list</h2>
<h2 class="content-list text-center col">Manga list</h2>
<h2 class="content-list text-center col">Films list</h2>
<h2 class="content-list text-center col">Books list</h2>
</div>

<div class="row">
<ul id="anime-list" class="list-group list-group m-2 col">
{% for title in anime_list%}
      <li class="list-group-item list-group-item-action">
          <a href=" {{ url_for('main.title', title_id=title.id) }} ">{{ title.name }}</a>
      </li>
{% endfor %}
</ul>


<ul id="manga-list" class="list-group list-group m-2 col">
{% for title in manga_list%}
      <li class="list-group-item list-group-item-action">
          <a href=" {{ url_for('main.title', title_id=title.id) }} ">{{ title.name }}</a>
      </li>
{% endfor %}
</ul>


<ul id="films-list" class="list-group list-group m-2 col">
{% for title in film_list%}
      <li class="list-group-item list-group-item-action">
          <a href=" {{ url_for('main.title', title_id=title.id) }} ">{{ title.name }}</a>
      </li>
{% endfor %}
</ul>


<ul id="book-list" class="list-group list-group m-2 col">
{% for title in book_list%}
      <li class="list-group-item list-group-item-action">
          <a href=" {{ url_for('main.title', title_id=title.id) }} ">{{ title.name }}</a>
      </li>
{% endfor %}
</ul>
</div>
{% endblock %}