{% extends 'base.html' %}

{% block content %}
{% for cat, message in get_flashed_messages(True) %}
<div class="alert alert-warning" role="alert">
    {{ message }}
</div>
{% endfor %}

<h1 class="m-2">Profile settings</h1>

<form action="{{ url_for('main.profile_settings')}}" method="post" class="m-2" enctype="multipart/form-data">
     <div class="form-group">
         <label for="file">Profile Picture</label>
         <input id="file" class="form-control file" name="photo" type="file">
    </div>

     <div class="form-group">
        <label for="name">Name</label>
        <input id="name" class="form-control" type="text" name="name" placeholder="Change name">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input id= "password" class="form-control" type="password" name="password" placeholder="Change password">
    </div>

    <button type="submit" class="btn btn-primary mt-1">Submit</button>
</form>


{% endblock %}