{% extends 'base.html' %}

{% block header %}
<h1>Sign up</h1>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% if messages[0] == "Email address already exists" %}
        {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
    {% else %}
        {{ messages[0] }}
    {% endif %}
{% endif %}
{% endwith %}

<form action="{{ url_for('auth.signup')}}" method="post" class="m-2">
    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" class="form-control" type="email" name="email" placeholder="Enter email" value="{{ email }}">
    </div>

    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" class="form-control" type="text" name="name" placeholder="Enter name" value="{{ name }}">
    </div>>

    <label for="gender">Gender:</label>
    <select id="gender" name="gender" class="mt-2">
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="gay">Non-binary</option>
    </select>

    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" class="form-control" type="password" name="password" placeholder="Enter password">
    </div>

    <button type="submit" class="btn btn-primary mt-1">Submit</button>
</form>

{% endblock %}