{% extends 'base.html' %}

{% block content %}
{% for cat, message in get_flashed_messages(True) %}
<div class="alert alert-warning" role="alert">
    {{ message }}
</div>
{% endfor %}

<div class="container">
    <div class="image m-2">
        <img src="../static/{{ picture }}" alt="{{ name }}" width="150" height="150">
    </div>

    <ul id="title_info" class="list-group m-2 col">
        <li class="list-group-item">
          {{ name }}
        </li>

        <li class="list-group-item">
          {{ type }}
        </li>

        <li class="list-group-item">
            <ul>
            {% for genre in genres %}
                <li> {{ genre }} </li>
            {% endfor %}
            </ul>
        </li>

        {% if user_has_title %}
            <li class="list-group-item">
              Status: {{ user_status }}
            </li>

            <li id="rating_field" class="list-group-item">
              Your rating: {{ rating }}
            </li>
        {% endif %}
    </ul>

    {% if user_has_title %}
        <form action="{{ url_for('main.change_status', title_id=id) }}" class="m-2">
            <button name="change_status" type="submit" class="btn btn-primary mt-1">Change status</button>
        </form>

        <form id="form1" action="{{ url_for('main.ajax_rate', title_id=id)}}" method="post" class="m-2 col-3">
            <div class="form-group">
                <label  for="rating">Rate title</label>
                <select id="rating" class="form-select" name="rating">
                    <option selected> {{ rating }} </option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <button name="change_status" type="submit" class="btn btn-primary mt-1">Rate!</button>
            </div>
        </form>
        <div id="msg"></div>
        <script>
            /* переопределить поведение кнопки "Отправить" */
            $(document).ready(function () {
                $("#form1" ).submit(function( event ) {
                  sendAjaxForm("form1", "msg");
                  event.preventDefault();
                });
            });
            /* отправка формы через ajax */
            function sendAjaxForm(form_ajax, msg) {
                var form = $("#" + form_ajax);
                $.ajax({
                    type: form.attr('method'),
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function (response) {
                        var json = jQuery.parseJSON(response);
                        $('#' + msg).html(json.msg);
                        if (json.success == 'true') {
                            $('#rating_field').html('Your rating: ' + json.rating);
                        }
                        else
                        {
                            alert("First choose the mark");
                            console.log("Ошибка");
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        </script>
    {% else %}
        <form action="{{ url_for('main.add_title', title_id=id) }}" class="m-2">
            <button name="add_title" type="submit" class="btn btn-primary mt-1">Add to my list</button>
        </form>
    {% endif %}

    {% if user_has_title and not comment %}
    <form action="{{ url_for('main.title', title_id=id) }}" class="mx-2 my-4" method="post">
        <div class="form-group">
            <label for="comment">Enter your comment</label>
            <textarea name="comment" class="form-control" id="comment"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Add comment</button>
    </form>
    {% endif %}

    {% if comments %}
    <label for="comment_section" class="m-2">Comments for title:</label>
    <ul id="comment_section" class="list-group m-2 col">
        {% for comment in comments %}
            <li class="list-group-item"> {{ comment }} </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}